#header {
	background-color: aqua;
	height: 15vh;
	width: 100%;
	font-family: "Abril Fatface", cursive;
	font-size: 25px;
	text-align: center;
}

#title {
	padding: 10px;
}

#sidebar {
	border: 3px solid black;
	height: 100%;
	width: 200px;
	position: absolute;
	z-index: 1;
	overflow: auto;
	background-color: aliceblue;
}

.pose {
	padding: 3px 7px;
	font-size: 2.5vh;
}

.landing {
	margin-left: 220px;
	font-family: "Playfair Display", serif;
	font-size: 30px;
	font-weight: 600;
	text-align: center;
}

.container {
	display: flex;
	height: 100vh;
	margin-left: 220px;
	border: 3px solid black;
}

#left {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	border: 3px solid black;
	width: 100%;
}

.name {
	border: 3px solid black;
	height: 100px;
}

#right {
	border: 3px solid black;
	width: 100%;
}

#image {
	border: 3px solid black;
	margin-top: 5%;
}

.is-hidden {
	display: none;
}
